table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 8%;
  }
  .button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007AFF;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
    height: 25px;
  }